:root{
/*
 # Front-end Style Guide

## Layout

The designs were created to the following widths:
*/
--MobileWidth: 375px;
--DesktopWidth: 1440px;
/*
## Colors

### Primary
*/
--DarkCyan: hsl(185, 75%, 39%);
--VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
--DarkGrayishBlue: hsl(227, 10%, 46%);
/*
### Neutral
*/
--DarkGray: hsl(0, 0%, 59%);
/*
## Typography

### Body Copy
*/
--FontSize: 18px;
/*
### Font
*/
--FontFamily:'Kumbh Sans', sans-serif;

--FontWeightSmall:400;
--FontWeightMedium:700;

}
body{
  margin: 0;
  padding:0;
}